
  body {
    padding: 32px;
    font-family: 'Raleway', sans-serif;
    background-color: #AEC741;

    @media (max-width: 1154px) {
      padding: 0
    }
  };

  html {
    font-family: 'Raleway', sans-serif;
  };

  button:focus {
    box-shadow: none !important;
  };
